 .slide-section {
         display: flex;
         justify-content: center;
         align-items: center;
         background-color: var(--secondary-color);
 }

 .slide-section .slide-container {
         max-width: none;
 }

 .footer {
         position: relative;
         width: 100%;
         height: 40vh;
         overflow: hidden;
 }

 .footer .h1 {
         position: absolute;
         bottom: -95px;
         left: 50%;
         transform: translateX(-50%);
 } 