@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');

/* general styles */
*,
*::after,
*::before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

html {
        scroll-behavior: smooth;
}

button {
        background-color: transparent;
        border: none;
}

li {
        list-style: none;
}

:root {
        --white: #eaeaea;
        --dark-gray: #1a1a1a;
        --light-gray: #353535;
        --black: #0c0c0d;
        --blue: #003eb1;

        --main-background: var(--white);
        --main-text: var(--light-gray);
        --dark-details: var(--black);
        --highlight-color: var(--blue);

        --main-titles: "Poppins", serif;
        --body-text: "Open Sans", sans-serif;

}

a {
        text-decoration: inherit;
        color: inherit;
        drag: none;
        -webkit-user-drag: none;
}

body {
        width: 100vw;
        background-color: var(--main-background);
        filter: brightness(95%);
        font-family: var(--body-text);
        color: var(--main-text);
        display: flex;
        flex-direction: column;
        align-items: center;
        /* padding: 2rem; */
        transition: background-color 1s ease, color 0.5s ease
}

.h2 {
        font-size: clamp(1.2rem, 3vw, 2rem);
}

/* Specific styles */
.loading {
        display: flex;
        background-color: var(--main-background);
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: inherit;
        position: sticky;
        top: 0;
        right: 0;
        gap: 1rem;
        z-index: 16;

}

.loading-circle {
        background: url('../icons/loading.webp') no-repeat center/cover;
        width: 30%;
        max-width: 60px;
        aspect-ratio: 1 /1;
}

header {
        width: 100%;
        height: 10%;
        padding: 2rem;

}

.nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
}

.header-logo {
        font-size: 1.5rem;
        font-weight: 800;
        font-family: var(--main-titles);
}

.header-logo span:nth-of-type(2) {
        color: var(--highlight-color);
}

.nav-horizontal {
        display: none;
        justify-content: space-between;
        width: 100%;
        padding: 0 2rem;
}

.nav-vertical {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
}

.nav-list {
        display: flex;
        gap: 2em;
        align-items: center;

}

.nav-horizontal .nav-list li:hover {
        color: var(--highlight-color);

}

.nav-vertical .nav-list {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: -100%;
        background: var(--white);
        width: 100vw;
        height: 100vh;
        padding: 3rem 3rem;
        transition: left 0.4s ease;
}

.nav-vertical .nav-list.show {
        left: 0;
}

.menu-icon {
        background: url('../icons/menu-purple.webp') no-repeat center/cover;
        width: 25px;
        height: 25px;
        cursor: pointer;
}

.close-icon {
        position: absolute;
        background: url('../icons/close-purple.webp') no-repeat center/cover;
        width: 25px;
        height: 25px;
        right: 2rem;
        transition: background .3s ease-in-out;
}

.close-icon:hover {
        background: url('../icons/close-purple.webp') no-repeat center/cover;
        filter: drop-shadow(1px 1px 1px #868686bd);

}

.theme-toggle {
        width: 20px;
        aspect-ratio: 1/1;
        cursor: pointer;
        background: url('../icons/light-off.webp') no-repeat center/cover;
}

.language-toggle {
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        border: 1px solid var(--dark-gray);
        padding: 4px 8px;
        border-radius: 10px;
        aspect-ratio: 16/9;
        font-size: .8rem;
        cursor: pointer;
}

.language-toggle img {
        width: 50%;
}

.en {
        display: none;
}

.language-en .pt {
        display: none;
}

.language-en .en {
        display: inline;
}

.btn {
        padding: 0.8rem 1.6rem;
        background-color: var(--blue);
        color: var(--white);
        font-size: .9rem;
        width: 145px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
}

.btn:hover {
        background-color: #1f55b9;
}

.header .btn {
        display: none;
}

/* main styles */
main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
}

section {
        width: 100%;
        display: flex;
        min-height: 100vh;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        padding: 2rem;

}

.home {
        min-height: 90vh;
}

.main-text,
.main-img {
        width: 100%;
        max-width: 600px;
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;

}

.main-img img {
        width: 60%;
        aspect-ratio: 1/1;
        object-fit: cover;
        object-position: top;
        border-radius: 50%;
        margin: 0 auto;
}

.main-text .container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 60%;
        gap: 1.5rem;
}

.headline {
        font-size: clamp(1.6rem, 3.2vw, 3.8rem);
}

.tagline {
        font-size: clamp(1rem, 1.5vw, 1.2rem);
}

.social-medias {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
}

.social-medias li {
        width: 25%;
        position: relative;
        color: var(--light-gray);
}

.social-medias li:hover {
        color: var(--highlight-color);
        transition: color 0.3s ease;
}

.social-medias li:hover::before {
        content: '→';
        font-size: .8rem;
        margin-left: -10px;
        transition: margin-left 0.3s ease;
        color: var(--highlight-color);
}

.social-medias li::before {
        content: '';
        position: absolute;
        left: -15px;
        top: 0;
        opacity: 0;
        transition: opacity 0.3s ease;
}

.social-medias li:hover::before {
        opacity: 1;
}

/* about */
.about {
        gap: 4rem;
        flex-wrap: wrap;
}

.about-sumary,
.about-skills {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        max-width: 500px;
        gap: 2rem;
        padding-top: 2rem;
        font-size: clamp(0.8rem, 1.5vw, 1rem);
        align-items: flex-start;

}

.about-sumary p {
        width: 100%;

}

.about-sumary p {
        width: 100%;
        max-width: 375px;

}

.about-skills {
        border-top: 6px solid var(--highlight-color);
        text-align: justify;
        justify-content: space-between;
        gap: 2rem;
}

.skills-list {
        padding-left: 1rem;
        /* border-left: 4px solid var(--highlight-color); */
        text-align: left;

}

.skills-list li {
        position: relative;
        padding-left: 2rem;
        margin-bottom: 0.75rem;
}

.skills-list li::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1.5rem;
        height: 1.5rem;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23003eb1"><path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41L9 16.17z"/></svg>');
        background-size: contain;
        background-repeat: no-repeat
}


/* recentss works */
.works {
        display: flex;
        gap: 3rem;
        height: auto;
        flex-direction: column;
        justify-content: center;
        margin-top: 2rem;
        width: 100%;
        min-height: 100vh;
        position: relative;
        padding: 0;
        align-content: center;
        flex-wrap: nowrap;

}

.works-title {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 3rem;
        width: 100%;
        padding: 0 0 0 2rem;
        justify-content: space-around;
        align-items: flex-end;

}

.works-title .traco {
        width: 50%;
        height: 6px;
        background-color: var(--highlight-color);
}

.slide-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 2rem 0;
        overflow-x: hidden;
}


.slide-display {
        width: 100%;
        margin: auto;
        display: flex;
        overflow-x: hidden;

}

.slide-track {
        display: flex;
        gap: 1rem;
        scroll-behavior: smooth;
}

.slide-controls {
        display: none;
        width: 100%;
        justify-content: space-between;
        position: absolute;
        top: 50%;
        /* Alinha verticalmente ao centro */
        left: 50%;
        /* Alinha horizontalmente ao centro */
        transform: translate(-50%, -50%);
        z-index: 3;
}

.slide-control-prev,
.slide-control-next {
        cursor: pointer;
        width: 1.5rem;
}

.project-item {
        width: 100%;
        height: 100%;
        z-index: 15;
        position: relative;
        object-fit: cover;
        /*         pointer-events: none; */
        /* Impede a imagem de capturar eventos */
        user-select: none;
        /* Evita seleção acidental */
        -webkit-user-drag: none;
        /* Desabilita arrastar no WebKit */
        /* drag: none; */
        /* Desabilita arrastar em outros navegadores */
}

.project-img {
        width: 80%;
        aspect-ratio: 1/1;
        object-fit: cover;
        object-position: center;
        -webkit-user-drag: none;

}

.project-links {
        font-size: 1.5rem;
        display: flex;
        justify-content: flex-start;
        gap: 1rem;
        z-index: 45;
        position: relative;
}

.project-links a {
        cursor: pointer;
}

.project-icon img {
        width: 30px;
        aspect-ratio: 1/1;
        object-fit: cover;
        object-position: center;
}

.project-icon img:hover {
        filter: invert(.8);
}

.real-project::before,
.study-project::before {
        content: '';
        position: absolute;
        top: .5rem;
        left: .5rem;
        width: auto;
        padding: .5rem 1rem;
        border-radius: 5px;
        height: 30px;
        background-color: #0000005e;
        height: 1/8;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: .8rem;
        padding: 1rem;
        color: var(--white);
}

.real-project::before {
        content: "Projeto Real";
}

.study-project::before {
        content: "Projeto de Estudo";
}

.language-en .real-project::before {
        content: "Real Project";
}

.language-en .study-project::before {
        content: "Study Project";
}


/* footer */
#footer {
        height: 60vh;
        display: flex;
        align-items: flex-start;
        padding: 2rem;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        margin-top: 2rem;
        position: relative;
        background-color: var(--highlight-color);
        overflow: hidden;
        color: var(--white);
}

#footer h3 {
        font-size: 1.8rem;
}

#footer .social-medias {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 400px;
        gap: 1rem;
        color: var(--white);
}

#footer .social-medias li {
        color: var(--white);
}

#footer small {
        align-self: center;
}

/* dark mode styles */
.dark-mode {
        --main-background: var(--black);
        --main-text: var(--white);
        --dark-details: var(--black);
        --highlight-color: var(--blue);
}

.dark-mode .nav-vertical .nav-list {
        background: var(--light-gray);
}

.dark-mode .menu-icon {
        background: url('../icons/menu.webp') no-repeat center/cover;

}

.dark-mode .close-icon {
        background: url('../icons/close-white.webp') no-repeat center/cover;
}

.dark-mode .theme-toggle,
.dark-mode .language-toggle img {
        filter: invert(1);
}

.dark-mode .language-toggle {
        border: 1px solid var(--white);

}

/* responsive styles */
@media screen and (max-width: 600px) {
        .project-item {
                padding: 1rem;
        }

        .project-img {
                width: 100%;
        }

        .real-project::before,
        .study-project::before {
                top: 1.5rem;
                left: 1.5rem;
        }
}

@media screen and (min-width: 900px) {
        section {
                padding-top: 0;
        }

        .nav-horizontal {
                display: flex;
        }

        .nav-vertical {
                display: none;
        }

        .main-text {
                padding: 2rem 3rem;
        }

        .main-text .social-medias {
                flex-direction: row;
        }

        .wrapper {
                width: 80vw;
                margin-left: auto;
        }

        .slide-item {
                width: 30vw;
        }

        .slide-content {
                width: 80%;

        }

        .slide-description p {
                display: none;
        }

        .slide-description h3 {
                font-size: 24px;
        }

        .slide-control-button {
                font-size: 9px;
        }

        #footer h3 {
                font-size: 3rem;
                max-width: 700px;
        }

        #footer .social-medias {
                flex-direction: row;
        }

        #footer::before {
                content: '';
                position: absolute;
                top: -300px;
                right: -500px;
                background: url('../icons/source-code.webp') no-repeat center;
                background-size: contain;
                opacity: 0.5;
                z-index: 1;
                pointer-events: none;
                height: 200%;
                aspect-ratio: 1/1;

        }

}

@media screen and (min-width: 1000px) {
        .nav-horizontal .btn {
                display: inline;
        }

        .home {
                flex-direction: row-reverse;
        }
}

/* Estilo da barra de rolagem */
::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        background-color: rgba(18, 18, 18, 0.226);
}

::-webkit-scrollbar-track {
        background: rgba(245, 245, 245, 0.5);
}

::-webkit-scrollbar-thumb {
        background-color: rgba(18, 18, 18, 0.5);
}

::-webkit-scrollbar-thumb:hover {
        background-color: var(--blue);
        opacity: .6;
}

::-webkit-scrollbar:horizontal {
        display: none;
}